import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* Autor: Victor Alan 3C 13.08.2025 */
:root {
    --laranja-claro: #FF862A;
    --fundo-escuro: #000000;
    --texto-claro: #ffffff;
    --link-claro: #ffd700;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
}

header,
footer,
.formulario {
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
}

section {
    padding-bottom: 5rem;
}

.nav-link {
    color: var(--link-claro);
    font-weight: 600;
}

.inicio-fundo {  
    background-image: url('img/4965007.png');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--link-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
    color: var(--fundo-escuro);
    font-weight: bold;
}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: none;
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: var(--fundo-escuro);
}

.fundo-galeria {
    background: none;
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--link-claro);
    border: none;
    font-weight: bold;
    color: var(--fundo-escuro);
}

.form-control {
    background-color: #222;
    color: var(--texto-claro);
}

/* Acessibilidade não é mais necessária, pois só há modo escuro */
